<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.liuzhenlin.texturevideoview"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-sdk tools:overrideLibrary="
            com.google.android.exoplayer2.core,
            com.google.android.exoplayer2.common,
            com.google.android.exoplayer2.extractor,
            com.google.android.exoplayer2.source.dash,
            com.google.android.exoplayer2.source.hls,
            com.google.android.exoplayer2.source.smoothstreaming,
            com.google.android.exoplayer2.ext.rtmp, net.butterflytv.rtmp_client,
            com.google.android.exoplayer2.ext.av1,
            com.google.android.exoplayer2.ext.vp9,
            com.google.android.exoplayer2.ext.ffmpeg,
            org.videolan" />

    <application>
        <receiver android:name=".receiver.MediaButtonEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".service.BackgroundPlaybackControllerService" />

        <activity
            android:name=".sample.DemoActivity"
            android:launchMode="singleTask" />
    </application>
</manifest>
