<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.liuzhenlin.texturevideoview"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-sdk tools:overrideLibrary="
            androidx.media3.exoplayer,
            androidx.media3.common,
            androidx.media3.container,
            androidx.media3.extractor,
            androidx.media3.decoder,
            androidx.media3.database,
            androidx.media3.datasource,
            androidx.media3.exoplayer.dash,
            androidx.media3.exoplayer.hls,
            androidx.media3.exoplayer.smoothstreaming,
            androidx.media3.exoplayer.rtsp,
            androidx.media3.datasource.rtmp,
            org.videolan" />

    <application>
        <service
            android:name=".service.BackgroundPlaybackControllerService"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".sample.DemoActivity"
            android:launchMode="singleTask" />
    </application>
</manifest>
