<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created on 2021-3-25 2:59:59 PM.
  ~ Copyright © 2021 刘振林. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuzhenlin.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>
        <receiver
            android:name=".receiver.MediaButtonEventReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="${applicationId}.prefs.provider"
            android:name=".utils.prefs.PrefsContentProvider"
            android:exported="false" />
    </application>
</manifest>