<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liuzhenlin.videos">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />

    <application
        android:name=".SophixAppStub"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".view.activity.BootstrapActivity"
            android:theme="@style/ActivityStyle_Bootstrap"
            android:configChanges="uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="rtmp" />
                <data android:scheme="rtsp" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter android:label="@string/playWithThisApp">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/*" /> <!-- Uri char sequence -->
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.VideoActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|orientation|uiMode"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.FeedbackActivity"
            android:theme="@style/AppTheme.NoWindowBackground"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|orientation|uiMode"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|orientation|uiMode"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />

        <service android:name=".web.youtube.WebService" android:process=":web" />

        <service android:name=".web.youtube.YoutubePlaybackService" android:process=":web" />

        <activity
            android:name=".web.youtube.YoutubePlaybackActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
            android:taskAffinity=".web.youtube"
            android:process=":web"
            tools:replace="android:configChanges, android:taskAffinity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".utils.AppUpdateChecker$UpdateAppService" />
    </application>
</manifest>
